.navbar {
  position: relative;
<<<<<<< HEAD
  transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    animation: fade-in-content 1s ease-in forwards;
    animation-delay: 1s;
=======
    visibility: hidden;
    opacity: 0;
    animation: fade-in-content 3s ease-in forwards;
>>>>>>> a0fcd4569663f9e31370bc7ebb95e037f8fc3f00
    z-index: 999;
    background-color: rgba(0, 0, 0, 1);
    height: 50px;
    width: 100%;
    border-bottom: 2px solid;
    border-bottom-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.button {
  position: relative;
    visibility: hidden;
    opacity: 0;
<<<<<<< HEAD
    animation: fade-in-content 1s ease-in forwards;
    animation-delay: 1s;
=======
    animation: fade-in-content 0.5s ease-in forwards;
>>>>>>> a0fcd4569663f9e31370bc7ebb95e037f8fc3f00
    z-index: 999;
    background-color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    display: flex;
    color: rgb(165, 118, 0);
    padding: 10px 20px;
    cursor: crosshair;
    transition: border-color 0.3s ease;
    outline: none;
    caret-color: rgb(145, 0, 58);
  }
  
  .button:active {
    border-color: 2px solid rgb(145, 0, 58);
    outline: none;
  }

  .button:focus {
    border-top: 2px solid rgb(145, 0, 58);
    border-bottom: 2px solid rgb(145, 0, 58);
    outline: none;
  }

  @media (hover: hover) and (pointer: fine) {
    .button:hover {
      border-color: rgb(165, 118, 0);
      outline: none;
    }
  }

  @keyframes fade-in-content {

    from {
      visibility: hidden;
      opacity: 0;
<<<<<<< HEAD
      transform: translateY(-100%);
=======
>>>>>>> a0fcd4569663f9e31370bc7ebb95e037f8fc3f00
    }
    to {
      visibility: visible;
      opacity: 1;
<<<<<<< HEAD
      transform: translateY(0%);
=======
>>>>>>> a0fcd4569663f9e31370bc7ebb95e037f8fc3f00
    }
    
  }